{% extends 'base.html' %}
{% load static %}

{% block title %}Recepción de Fichas{% endblock %}

{% block content %}
<div class="container-fluid small-input">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Registro de Recepción de Ficha</h3>
                </div>
                <div class="card-body">
                    <form id="form-recepcion" class="form" onsubmit="return false;">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="rut_mov">RUT</label>
                                <input type="text" id="rut_mov" class="form-control" placeholder="Ingrese RUT">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="ficha_mov">N° Ficha</label>
                                <input type="text" id="ficha_mov" class="form-control" placeholder="Ingrese N° ficha">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nombre_mov">Nombre</label>
                                <input type="text" id="nombre_mov" class="form-control"
                                       placeholder="Nombre del paciente" readonly>
                            </div>
                        </div>
                        <button type="button" id="btn-guardar" class="btn btn-primary"><i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Movimientos de Salida</h3>
                </div>
                <div class="card-body">
                    <table id="Table" class="table table-bordered table-striped table-sm">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Acciones</th>
                            {% for col in columns %}
                            {% if col != 'ID' %}
                            <th>{{ col }}</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
