<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true"
     data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <!-- Body -->
            <div class="modal-body" style="overflow-y: auto;">
                <form method="post" class="needs-validation ajax-form" novalidate>
                    {% csrf_token %}
                    <div class="row g-3">
                        {% for field in form %}
                        <div class="col-12">
                            <label class="form-label {% if field.field.required %} required{% endif %}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="invalid-feedback d-block">{{ field.errors|join:", " }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Footer -->
                    <div class="modal-footer">
                        <!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>-->
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
